/* book-list.component.css */
ul {
  list-style-type: none; // No list style
  padding: 0; // No padding for the list
}

li {
  display: inline-block; // Display as inline-blocks
  width: 200px; // Width for each book item
  margin: 10px; // Spacing between book items
  padding: 10px; // Padding for book items
  border: 1px solid #ddd; // Light border
  background-color: white; // White background
  text-align: center; // Center-align text
  transition: box-shadow 0.3s; // Smooth transition for shadow
}

li img {
  width: 100%; // Full width for book cover
  height: auto; // Maintain aspect ratio
}

li:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); // Shadow on hover
}

input {
  margin-bottom: 10px; // Margin below search input
  padding: 5px; // Padding for the input
  border: 1px solid #ddd; // Border for the input
}
.btn{
  margin: 10px 0px;
}
